body.title {
  background-color: #b1cde3;
  
}
h1.left {
  float: left;
  background-color:#335482;
  font-size: 85px;
  color:white;
  margin: 100px 100px;
  padding-top: 200px;
  padding-bottom: 500px;
  padding-left: 100px;
  padding-right: 400px;
  font-family: Calibri;
  border-radius: 100px;
}
